<a href="https://colab.research.google.com/github/roggyy/Internship-quest/blob/main/One_Oath_AI_Internship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# One Oath Intern Assignment

Datalink-
[link text](https://)https://drive.google.com/drive/folders/1o5-CSBXzxC-ABjwP5gglO8x3Hv7pcCib?usp=sharing

pls download the data from above link in your drive,and replace the file paths of all 4 files named Data .csv, negative-words.txt, paragraph.txt, positive-word.txt.

## Preliminary

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_csv(r"/content/drive/MyDrive/AI intern Assignment-20230705T154638Z-001/AI intern Assignment/Data .csv")
df

,NAME,ROLL,SECTION,LOGIC,CONCENTRATION,FOCUS,COGNITIVE SKILL,RETENTION POWER,HARD WORKING,STUDY HABIT,CONSCIOUSNESS,SILLY MISTAKES,KNOWLEDGE GAP,IMPULSIVE,LEARNING GAP
0,Srishti Shahi,28,A,1.611111,2.666667,1.611111,1.000000,1.500000,2.333333,1.611111,1.214286,8.571429,8.000000,8.750000,6.400000
1,DEBMALYA LAHIRI,8,A,1.833333,1.833333,1.833333,0.000000,0.916667,1.833333,1.833333,1.571429,7.333333,7.333333,8.000000,6.000000
2,Ananya Naskar,4,A,3.388889,4.100000,3.388889,3.750000,3.642857,3.416667,3.388889,3.388889,6.857143,5.555556,5.555556,7.200000
3,Deepsikha Naskar,9,A,1.388889,1.750000,1.388889,0.625000,1.071429,1.250000,1.388889,1.562500,7.428571,8.000000,8.000000,7.500000
4,Aditi Kuilya,2,A,1.222222,1.833333,1.222222,0.000000,0.916667,1.833333,1.222222,0.785714,8.666667,8.222222,9.000000,6.000000
5,Rohan Kundu,17,A,2.777778,2.500000,2.777778,1.750000,2.083333,3.428571,2.666667,2.357143,6.333333,6.444444,7.000000,4.666667
6,Soumyadeep Purkait,27,A,2.500000,3.400000,2.500000,2.000000,2.428571,3.214286,2.500000,2.125000,7.750000,7.111111,7.750000,6.285714
7,Shiven Singh Rajput,23,A,2.388889,2.500000,2.388889,1.250000,2.666667,1.500000,2.388889,3.000000,6.500000,6.888889,6.375000,8.000000
8,Harshavardhan Chakraborty,10,A,4.277778,3.166667,4.277778,4.333333,5.083333,3.583333,4.277778,4.083333,5.500000,4.555556,4.000000,7.400000
9,Simran Ghosh,25,A,3.166667,2.437500,3.166667,2.000000,2.437500,3.166667,3.166667,3.166667,6.444444,6.444444,6.444444,6.444444
10,Sunita Biswal,31,A,3.444444,2.700000,3.444444,2.000000,3.714286,2.250000,3.444444,3.444444,6.571429,5.333333,5.333333,7.333333
11,Bishwarup Das,6,A,1.277778,1.000000,1.277778,1.200000,0.857143,1.437500,1.277778,1.642857,7.666667,8.444444,8.250000,8.000000
12,Subham Bairagi,29,A,2.111111,2.000000,2.111111,2.000000,1.428571,1.666667,2.111111,2.111111,7.777778,7.777778,7.777778,8.333333

**Q.1** Group the given data into four categories for Bright and Dark traits. Where categories are A(1-0),B(3-2), C(6-4) and D(7-10).

For each student calculate the average of bright traits and dark traits and assign them into a category.

**Bright trait**s:  LOGIC, CONCENTRATION, FOCUS, COGNITIVE SKILL, RETENTION POWER, HARD WORKING, STUDY HABIT, CONSCIOUSNESS
**Dark Trait**: SILLY MISTAKES,KNOWLEDGE GAP, IMPULSIVE, LEARNING GAP

In [ ]:
categorize = lambda x: 'A' if x <= 1 else 'B' if x <= 3 else 'C' if x <= 6 else 'D'

# Calculate average of dark traits and catogorize
df['Average Dark Traits'] = df[['SILLY MISTAKES', 'KNOWLEDGE GAP', 'IMPULSIVE', 'LEARNING GAP']].mean(axis=1).round()

df['Dark Category'] = df['Average Dark Traits'].apply(categorize)

# Calculate average of bright traits and catogorize
df['Average Bright Traits'] = df[['LOGIC', 'CONCENTRATION', 'FOCUS', 'COGNITIVE SKILL', 'RETENTION POWER',
                                  'HARD WORKING', 'STUDY HABIT', 'CONSCIOUSNESS']].mean(axis=1).round()

# Apply the categorization function to create the 'Bright Category' column
df['Bright Category'] = df['Average Bright Traits'].apply(categorize)

df

,NAME,ROLL,SECTION,LOGIC,CONCENTRATION,FOCUS,COGNITIVE SKILL,RETENTION POWER,HARD WORKING,STUDY HABIT,CONSCIOUSNESS,SILLY MISTAKES,KNOWLEDGE GAP,IMPULSIVE,LEARNING GAP,Average Dark Traits,Dark Category,Average Bright Traits,Bright Category
0,Srishti Shahi,28,A,1.611111,2.666667,1.611111,1.000000,1.500000,2.333333,1.611111,1.214286,8.571429,8.000000,8.750000,6.400000,8.0,D,2.0,B
1,DEBMALYA LAHIRI,8,A,1.833333,1.833333,1.833333,0.000000,0.916667,1.833333,1.833333,1.571429,7.333333,7.333333,8.000000,6.000000,7.0,D,1.0,A
2,Ananya Naskar,4,A,3.388889,4.100000,3.388889,3.750000,3.642857,3.416667,3.388889,3.388889,6.857143,5.555556,5.555556,7.200000,6.0,C,4.0,C
3,Deepsikha Naskar,9,A,1.388889,1.750000,1.388889,0.625000,1.071429,1.250000,1.388889,1.562500,7.428571,8.000000,8.000000,7.500000,8.0,D,1.0,A
4,Aditi Kuilya,2,A,1.222222,1.833333,1.222222,0.000000,0.916667,1.833333,1.222222,0.785714,8.666667,8.222222,9.000000,6.000000,8.0,D,1.0,A
5,Rohan Kundu,17,A,2.777778,2.500000,2.777778,1.750000,2.083333,3.428571,2.666667,2.357143,6.333333,6.444444,7.000000,4.666667,6.0,C,3.0,B
6,Soumyadeep Purkait,27,A,2.500000,3.400000,2.500000,2.000000,2.428571,3.214286,2.500000,2.125000,7.750000,7.111111,7.750000,6.285714,7.0,D,3.0,B
7,Shiven Singh Rajput,23,A,2.388889,2.500000,2.388889,1.250000,2.666667,1.500000,2.388889,3.000000,6.500000,6.888889,6.375000,8.000000,7.0,D,2.0,B
8,Harshavardhan Chakraborty,10,A,4.277778,3.166667,4.277778,4.333333,5.083333,3.583333,4.277778,4.083333,5.500000,4.555556,4.000000,7.400000,5.0,C,4.0,C
9,Simran Ghosh,25,A,3.166667,2.437500,3.166667,2.000000,2.437500,3.166667,3.166667,3.166667,6.444444,6.444444,6.444444,6.444444,6.0,C,3.0,B
10,Sunita Biswal,31,A,3.444444,2.700000,3.444444,2.000000,3.714286,2.250000,3.444444,3.444444,6.571429,5.333333,5.333333,7.333333,6.0,C,3.0,B
11,Bishwarup Das,6,A,1.277778,1.000000,1.277778,1.200000,0.857143,1.437500,1.277778,1.642857,7.666667,8.444444,8.250000,8.000000,8.0,D,1.0,A
12,Subham Bairagi,29,A,2.111111,2.000000,2.111111,2.000000,1.428571,1.666667,2.111111,2.111111,7.777778,7.777778,7.777778,8.333333,8.0,D,2.0,B

**Q.2** Write a Python program that counts the frequency of each word in a given text document. Remove any punctuation marks and convert all words to lowercase before counting. Display the **top 5 most frequent words along with their frequencies**. Also calculate the below parameters.

The formulas for calculations are :
**Positive Score:** This score is calculated by assigning the value of +1 for each word if found in the Positive Dictionary and then adding up all the values.
**Negative Score:** This score is calculated by assigning the value of -1 for each word if found in the Negative Dictionary and then adding up all the values. We multiply the score with -1 so that the score is a positive number.

**Polarity Score:** This is the score that determines if a given text is positive or negative in nature. It is calculated by using the formula:
Polarity Score = (Positive Score – Negative Score)/ ((Positive Score + Negative Score) + 0.000001)
Range is from -1 to +1

**Average Sentence Length** = the number of words / the number of sentences

Note :- Use the given paragraph.txt for calculations

In [ ]:
import re
from collections import Counter
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize ,sent_tokenize

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
# Read the text document
with open('/content/drive/MyDrive/AI intern Assignment-20230705T154638Z-001/AI intern Assignment/paragraph.txt', 'r', encoding='utf-8') as file:
    text = file.read()

##<<---------------------Part 1-------------------->>

# Remove punctuation marks and convert to lowercase
text = re.sub(r'[^\w\s.]', '', text.lower())

# Set up NLTK resources
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()
lemmatized_tokens = []

for token in (text.split()):
    if token not in stop_words and len(token) > 2:
        # Lemmatize the token
        lemmatized_token = lemmatizer.lemmatize(token)
        lemmatized_tokens.append(lemmatized_token)

# Count the frequency of each word
word_counts = Counter(lemmatized_tokens)

# Display the top 5 most frequent words
top_words = word_counts.most_common(5)
print("Top 5 most frequent words:")
for word, count in top_words:
    print(f"{word}: {count}")

##<<---------------------Part 1-------------------->>

##<<---------------------Part 2-------------------->>

with open('/content/drive/MyDrive/AI intern Assignment-20230705T154638Z-001/AI intern Assignment/positive-words.txt', 'r', encoding='utf-8') as file:
    positWord = file.read()
positWord= positWord.lower()
positWord= set(positWord.split())
# posit_present={}

dict(word_counts).keys()

pr = {key: value for key, value in word_counts.items() if key in positWord}
print()
print("Positive Dict-",pr)
ps= sum(pr.values())


with open('/content/drive/MyDrive/AI intern Assignment-20230705T154638Z-001/AI intern Assignment/negative-words.txt', 'r', encoding='latin-1') as file:
    negWord = file.read()
negtWord= negWord.lower()
negWord= set(negWord.split())

dict(word_counts).keys()

nr = {key: value for key, value in word_counts.items() if key in negWord}
print("Negative Dict-",nr)
ns= sum(nr.values())

# Calculate polarity score
polarity_score = ( ps- ns) / (ps + ns + 0.000001)
#print(polarity_score)


sl= len(sent_tokenize(text))

wl= len(text.split())
avgWordPerSen= wl/sl

# Display the calculated parameters
print(f"\nPositive Score: {ps}")
print(f"Negative Score: {ns}")
print(f"Polarity Score: {polarity_score:.4f}")
print(f"Average Sentence Length: {avgWordPerSen:.2f} words/sentence")

Top 5 most frequent words:
nlp: 12
machine: 11
model: 10
word: 9
language: 7

Positive Dict- {'intelligence': 1, 'correct': 1, 'sophisticated': 1, 'positive': 1, 'reputation': 1, 'prominent': 1, 'accurate': 1, 'leverage': 1, 'concise': 1, 'gained': 1, 'prominence': 1, 'remarkable': 1, 'breakthrough': 2, 'revolutionized': 1, 'fascinating': 1, 'immense': 1, 'seamless': 1}
Negative Dict- {'object': 1, 'complex': 1, 'dense': 1, 'negative': 1}

Positive Score: 18
Negative Score: 4
Polarity Score: 0.6364
Average Sentence Length: 18.61 words/sentence

In [4]:
%cd /content/drive/MyDrive/Colab Notebooks/

/content/drive/MyDrive/Colab Notebooks

In [5]:
!git init

Initialized empty Git repository in /content/drive/MyDrive/Colab Notebooks/.git/

In [6]:
!git add .

In [14]:
# !git remote add origin https://github.com/roggyy/Internship-quest.git

!git config --global user.email "aniketguptarog@gmail.com"
!git config --global user.name "roggyy"

!git commit -m "Initial commit"

[master (root-commit) d1f1afb] Initial commit
 39 files changed, 481 insertions(+)
 create mode 100644 Copy of  fast-DreamBooth.ipynb
 create mode 100644 Copy of 3_realtime_ser.ipynb
 create mode 100644 Copy of DreamBooth_Stable_Diffusion.ipynb
 create mode 100644 Copy of MasterClass-Predictive-Analytics
 create mode 100644 Copy of Speech_Emotion_Recognition_with_librosa.ipynb
 create mode 100644 Copy of Tweet Emotion Recognition - Learner (1).ipynb
 create mode 100644 Copy of Tweet Emotion Recognition - Learner.ipynb
 create mode 100644 Copy of fast-DreamBooth (1).ipynb
 create mode 100644 Copy of fast-DreamBooth (10).ipynb
 create mode 100644 Copy of fast-DreamBooth (11).ipynb
 create mode 100644 Copy of fast-DreamBooth (2).ipynb
 create mode 100644 Copy of fast-DreamBooth (3).ipynb
 create mode 100644 Copy of fast-DreamBooth (4).ipynb
 create mode 100644 Copy of fast-DreamBooth (5).ipynb
 create mode 100644 Copy of fast-DreamBooth (6).ipynb
 create mode 100644 Copy of fast-DreamBooth (7).ipynb
 create mode 100644 Copy of fast-DreamBooth (8).ipynb
 create mode 100644 Copy of fast-DreamBooth (9).ipynb
 create mode 100644 Copy of fast-DreamBooth.ipynb
 create mode 100644 Copy of sd_dreambooth_training.ipynb
 create mode 100644 MLP.ipynb
 create mode 100644 One_Oath AI Internship.ipynb
 create mode 100644 Untitled
 create mode 100644 Untitled-checkpoint.ipynb
 create mode 100644 Untitled0.ipynb
 create mode 100644 Untitled1.ipynb
 create mode 100644 Untitled2.ipynb
 create mode 100644 Untitled3.ipynb
 create mode 100644 Untitled4.ipynb
 create mode 100644 actual of hon proj.ipynb
 create mode 100644 assignment4-checkpoint.ipynb
 create mode 100644 assignment4.ipynb
 create mode 100644 fast-DreamBooth (1).ipynb
 create mode 100644 fast-DreamBooth (2).ipynb
 create mode 100644 fast-DreamBooth (3).ipynb
 create mode 100644 fast-DreamBooth.ipynb
 create mode 100644 hon proj.ipynb
 create mode 100644 nimmo proj.ipynb
 create mode 100644 oath one ai intern

In [19]:
!git config --global user.email "aniketguptarog@gmail.com"
!git config --global user.name "roggyy"

fatal: could not read Username for 'https://github.com': No such device or address

In [18]:
!git push -u origin master

fatal: could not read Username for 'https://github.com': No such device or address

In [ ]:
uname = "roggyy"
!git config --global user.email '$aniketguptarog@gmail.com'
!git config --global user.name '$roggyy'

from getpass import getpass
password = getpass('letvle22:')
!git clone https://$uname:$password@github.com/korakot/myrepo
%cd myrepo
# create a file, then add it to stage
!git add hello.txt
!git commit -m 'commit message'  # commit in Colab
!git push origin master          # push to github